*{
    padding: 0;
    margin: 0;
}

:root{
    --sucesso-color: rgb(0, 255, 0);
    --error-color: rgb(255, 0, 0);
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    width: 400px;
    background-color: rgba(218, 240, 252, 0.7);
    border-radius: 15px;
    box-shadow: 0 2px 10px rgb(0, 0, 0, 0.5);
}

h2{
    text-align: center;
    margin: 0 0 20px;
}

.form{
    padding: 30px;
}

.form-control{
    margin-bottom: 10px;
    padding-bottom: 20px;
}

.form-control label{
    display: block;
    color: rgb(84, 84, 84);
    margin-bottom: 5px;
}

.form-control input{
    display: block;
    border: 2px solid rgba(212, 212, 212, 0.672);
    border-radius: 5px;
    width: 100%;
    padding: 5px 0 5px 0;
}

.form-control input:focus{
    outline: 0;
    border-color: rgb(184, 184, 184);
}

.form-control.sucesso input{
    border-color: var(--sucesso-color);
}

.form-control.error input{
    border-color: var(--error-color);
}

.form-control small{
    color: var(--error-color);
    visibility: hidden;
}

.form-control.error small{
    visibility: visible;
}

.form button{
    cursor: pointer;
    background-color: rgb(29, 210, 255);
    border: none;
    padding: 10px;
    width: 100%;
    color: white;
}